@use "base" as *;
@use "components" as *;
@use "layout" as *;

@media screen and (min-width: 700px) {
  .logo{
    margin: auto 0;
  }
.nav{
  display: flex;
  justify-content: space-between;
  padding: 2%;
}
  .header {

    .main-heading {
      font-size: 53px;
    }

    .sub-heading {
      font-size: $font-xl;
    }

    .main-button {
      width: 200px;
      font-size: $font-xl;
    }


  }
  .main {
    padding: 5%;
  }

  .about {

    .section-info {
      width: 50%;

      h3 {
        font-size: $font-xl;

      }

    }

    .section-image {
      width: 40%;
    }

  }

  .kijker {
    padding: 2%;

    .card {
      width: 30%;

      img {
        height: 25vw;
      }
    }
  }
  .contact {
    flex-flow: row wrap;
    position: relative;
    height: 700px;

    .section-info {
      width: 50%;

      h3 {
        font-size: $font-xl;
      }

    }

    .section-image {
      width: 40%;
      position: absolute;
      right: 0;
      bottom: 0;

      img {
        outline: none;
      }
    }
  }
  .producten {

    .cards {
      padding: 2% 5%;

      .card {
        width: 35vw;
  //
        img {
          height: 250px;
        }

        &-titel {
          margin-bottom: 0;
          font-size: $font-md;
        }

        &-text {
          margin: 20px 0;
          font-size: $font-sm;
        }


      }

    }
  }

  .login-form {
    max-width: 500px;
  }

  .product-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    &-image {
      width: 50%;
    }

    &-body {
      width: 40%;
    }

  }


}

@media screen and (min-width: 1000px) {

  .main {
    padding: 10%;
  }
  .producten {

    .cards {

      .card {
        width: 30%;
      }
    }
  }
  .footer {
    height: 350px;
    //padding: 50px;
    align-items: center;

    &-nav {
      display: flex;
      justify-content: space-between;

      width: 90vw;
    }
  }

}